/* Logged Out User styles */

h2.login_first{
	margin-top: 30vh;
    text-align: center;
    font-size: 35px;
}

.link_to_login{
	display: block;
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    margin: 0 auto;
    border: none;
    max-width: 200px;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 29px;
    text-decoration: none;
}

.link_to_login:hover{
	background-position: right center;
    color: #fff;
}

/* Logged In User styles */

.header_dashboard{
	display: flex;
    justify-content: space-between;
}

.header_dashboard h1{
	margin-left: 30px;
}

.logout{
	display: block;
    margin-top: 30px;
    margin-right: 30px;
    width: 130px;
    height: 35px;
    border-radius: 24px;
    background-color: red;
    color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    opacity: 0.7;
}

.logout:hover{
	opacity: 1;
}

#user_info_section{
	display: flex;
}

.profile_picture{
	background-image: url(../img/alien_icon.png);
	background-size: cover;
	width: 130px;
	height: 130px;
	margin-left: 50px;
    margin-right: 60px;
}

.user_info li{
	margin-bottom: 10px;
}
